<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button color="primary" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Registrarse</h1>
    <img
      src="../../../assets/img/formularios/register.png"
      alt="Ionic Logo"
    />
  </div>

  <form #signupForm="ngForm" novalidate>
    <ion-item>
      <ion-label position="stacked" color="primary">Nombre</ion-label>
      <ion-input
        [(ngModel)]="signup.name"
        name="name"
        type="text"
        #name="ngModel"
        required
      >
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p [hidden]="name.valid || submitted === false" class="ion-padding-start">
        Nombre es requerido
      </p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked" color="primary">Email</ion-label>
      <ion-input
        [(ngModel)]="signup.email"
        name="username"
        type="text"
        #email="ngModel"
        required
      >
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p
        [hidden]="email.valid || submitted === false"
        class="ion-padding-start"
      >
        Email es requerido
      </p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked" color="primary">Contraseña</ion-label>
      <ion-input
        [(ngModel)]="signup.password"
        name="password"
        type="password"
        #password="ngModel"
        required
      >
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <p
        [hidden]="password.valid || submitted === false"
        class="ion-padding-start"
      >
        Contraseña es requerida
      </p>
    </ion-text>

    <ion-button (click)="onSignup(signupForm)" type="submit" expand="block"
      >Registrarse</ion-button
    >
  </form>
</ion-content>
