<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="../../../assets/img/formularios/login.png" alt="Ionic logo" />
  </div>

  <form #loginForm="ngForm" novalidate id="form">
    <ion-item>
      <ion-label position="stacked" color="primary"><a>E-mail</a></ion-label>
      <ion-input
        [(ngModel)]="login.email"
        name="email"
        type="email" 
        #email="ngModel"
        spellcheck="false"
        autocapitalize="off"
        inputmode = "email"
        required
      >
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p
        [hidden]="email.valid || submitted === false"
        class="ion-padding-start"
      >
        Email es requerido
      </p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked" color="primary" ><a>Contraseña</a></ion-label>
      <ion-input
        [(ngModel)]="login.password"
        name="password"
        type="password"
        #password="ngModel"
        required
      >
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p
        [hidden]="password.valid || submitted === false"
        class="ion-padding-start"
      >
        Contraseña es requerida
      </p>
    </ion-text>

    <ion-button
      (click)="onLogin(loginForm)"
      type="submit"
      expand="block"
      shape="round"
      >Ingresar</ion-button
    >
  </form>
</ion-content>
