<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button color="primary" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
     
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="../../../assets/img/formularios/login.png" alt="Ionic logo" />
  </div>

  <form #loginForm="ngForm" novalidate id="form">
    <ion-icon name="mail-outline" size="large" slot="start"></ion-icon>
    <ion-item slot="end">
      <br>
      <ion-input
        [(ngModel)]="login.email"
        name="email"
        type="email" 
        #email="ngModel"
        spellcheck="false"
        autocapitalize="off"
        inputmode = "email"
        placeholder="E-mail"
        required
      >
      </ion-input>
    </ion-item>

    <ion-text color="danger">
      <p
        [hidden]="email.valid || submitted === false"
        class="ion-padding-start"
      >
        Email es requerido
      </p>
    </ion-text>
    <ion-icon name="lock-closed-outline" size="large" slot="start"></ion-icon>
    <ion-item>
      <ion-input
        [(ngModel)]="login.password"
        name="password"
        [type]="isTextFieldType ? 'text' : 'password'"
        #password="ngModel"
        required
        placeholder="Contraseña"
      >
      </ion-input>
      <button
          (click)="togglePassword()"
          ion-button
          item-right
        >
          <ion-icon
            [name]="isTextFieldType ? 'eye-off' : 'eye'"
          >
          </ion-icon>
        </button> 
    </ion-item>

    <ion-text color="danger">
      <p
        [hidden]="password.valid || submitted === false"
        class="ion-padding-start"
      >
        Contraseña es requerida
      </p>
    </ion-text>

    <ion-button
      (click)="onLogin(loginForm)"
      type="submit"
      expand="block"
      shape="round"
      >Ingresar</ion-button>
      <a>Olvide mi contrasena</a>
  </form>
</ion-content>
