<ion-header>
  <ion-toolbar>
    <ion-title>Datos adicionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="formulario">
    <ion-list class="lista">
      <ion-item class="item">
        <ion-icon name="call"></ion-icon>
        <ion-label> Telefono</ion-label>
        <ion-input [(ngModel)]="userInfo.telefono" type="number" accept="number"></ion-input>
      </ion-item>
  
      <ion-item class="item">
        <ion-label>Pais</ion-label>
        <ion-input [(ngModel)]="userInfo.pais"></ion-input>
        <ion-select class="seleccion" placeholder="Seleccione una" [(ngModel)]="userInfo.pais" interface="popover">
          <ion-select-option *ngFor="let p of paises">{{p.name}}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item class="item">
        <ion-label>Provincia</ion-label>
        <ion-select class="seleccion" placeholder="Seleccione una" [(ngModel)]="userInfo.provincia" interface="popover">
          <ion-select-option *ngFor="let p of estados">{{p.name}}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item class="item">
        <ion-label>Ciudad</ion-label>
        <ion-select class="seleccion" placeholder="Seleccione una" [(ngModel)]="userInfo.ciudad" interface="popover">
          <ion-select-option *ngFor="let p of ciudades">{{p.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="saveUserInfo()" type="submit" expand="block" class="boton">Registrarse</ion-button>
    
    </ion-list>
  </div>

</ion-content>
